<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/project_static/css/home.css">
</head>
<body {% if current_user and current_user.theme %} class="dark-mode"{% endif %}>
    
  <div class="search-form-div">
    <form class="search-form-form" action="{{ url_for('user.home', username=username) }}" method="GET">
      <input type="text" name="keyword" placeholder="Search...">
      <select name="category" id="category">
        <option value="" disabled selected>Category</option>
        <option value="antiques">Antiques</option>
        <option value="appliances">Appliances</option>
        <option value="atv_utv">ATV/UTV</option>
        <option value="auto_parts">Auto Parts</option>
        <option value="baby">Baby</option>
        <option value="bikes">Bikes</option>
        <option value="boats">Boats</option>
        <option value="books">Books</option>
        <option value="camping">Camping</option>
        <option value="cars">Cars</option>
        <option value="cell_phones">Cell Phones</option>
        <option value="clothes">Clothes</option>
        <option value="computers">Computers</option>
        <option value="electronics">Electronics</option>
        <option value="farm_garden">Farm/Garden</option>
        <option value="furniture">Furniture</option>
        <option value="household">Householde</option>
        <option value="knives">Knives</option>
        <option value="materials">Materials</option>
        <option value="motorcycle">Motorcycle</option>
        <option value="music">Music</option>
        <option value="radios">Radios</option>
        <option value="sporting">Sporting</option>
        <option value="tools">Tools</option>
        <option value="toys">Toys</option>
        <option value="trailers">Trailers</option>
        <option value="trucks">Trucks</option>
        <option value="misc">Misc</option>        
      </select>
      <input type="submit" value="Search">
    </form>
  </div>

  <div class="content-container">
    <div class="flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="flash-message error">
              <div>
                <img src="/project_static/icons/error_flash.png" alt="Error Flash PNG">
                <h3>Error!</h3>{{ message }}
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
          {% elif category == 'success' %}
            <div class="flash-message success">
              <div>
                <img src="/project_static/icons/success_flash.png" alt="Success Flash PNG">
                <h3>Success!</h3>{{ message }}
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
          {% elif category == 'warning' %}
            <div class="flash-message warning">
              <div>
                <img src="/project_static/icons/warning_flash.png" alt="Warning Flash PNG">
                <h3>Warning!</h3>{{ message }}
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </div>

    <ul class="product-container">
      {% for post in posts %}
        <li>
          <a href="{{ url_for('user.product', username=username, post_id=post.id) }}">
            <div class="post-title-div">
              <h3 class="post-title">{{ post.title }}</h3>
            </div>
            <div class="post-price-div">
              <p class="post-price">${{ post.price }}</p>
            </div>
            {% if post.cover_photo_url.endswith(('.jpg', '.jpeg', '.png', '.PNG', '.gif')) %}
              <img src="/uploads/{{ post.cover_photo_url }}">
          </a>
          {% else %}
            No preview available.
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="navbar">

    <div class="home-div">
      <a href="{{ url_for('user.home', username=username) }}"></a>
    </div>
    <div class="cart-div">
      <a href="{{ url_for('user.cart', username=username) }}"></a>
    </div>
    <div class="account-div">
      <a href="{{ url_for('user.account', username=username) }}"></a>
    </div>
    
  </div>

</body>
</html>