:root {
    --bg-color: rgb(240, 242, 245);
    --navbar-bg: rgb(255, 255, 255);
    --navbar-text: rgb(0, 0, 0);
    --navbar-text-hover: rgb(30, 215, 170);
    --box-shadow: rgba(116, 116, 116, 0.747);
    --label-text: rgb(0, 0, 0);
    --form-btn-bg: rgb(60, 163, 0);
    --form-btn-hover-bg: rgb(36, 97, 0);
}

body.dark-mode {
    --bg-color: rgb(29, 29, 29);
    --navbar-bg: rgb(5, 5, 5);
    --navbar-text: rgb(172, 172, 172);
    --navbar-text-hover: rgb(30, 215, 170);
    --box-shadow: rgba(116, 116, 116, 0.747);
    --label-text: rgb(255, 255, 255);
    --form-btn-bg: rgb(60, 163, 0);
    --form-btn-hover-bg: rgb(36, 97, 0);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.navbar {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--navbar-bg);
    box-shadow: 0px 0px 4px 2px var(--box-shadow);
    border: none;
}

.navbar div {
    height: 100%;
    aspect-ratio: 1.6/1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--navbar-text);
    position: relative;
    overflow: hidden;
    height: 80%;
    width: 97%;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--navbar-text-hover);
    transition: width 0.3s ease-in-out; 
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a:hover {
    color: var(--navbar-text-hover);
    transition: color 0.3s ease-in-out;
}

.adminpage-div {
    margin-right: 15px;
}

/* Flash message */

.flash-container {
    z-index: 1000;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    left: 10px;
}

.flash-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    img {
        height: 21px;
        width: 21px;
        margin-right: 10px;
    }
    div {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    h3 {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-right: 4px;
    }
}

.error {
    background-color: rgba(255, 0, 0, 0.267);
    border: 1px solid rgb(255, 0, 0);
    color: rgb(117, 0, 0);
}

.success {
    background-color: rgba(0, 255, 55, 0.267);
    border: 1px solid rgb(0, 255, 55);
    color: rgb(0, 124, 27);
}

.warning {
    background-color: rgba(223, 170, 71, 0.267);
    border: 1px solid rgb(223, 170, 71);
    color: rgb(178, 96, 0);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;
}

.theme-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 40px;
    box-shadow: 0 1px 8px var(--box-shadow);
    h2 {
        margin: 0 15px 0 20px;
        font-family: sans-serif;
        color: var(--label-text);
        font-weight: 600;
        font-size: 24px;
    }
    .checkbox-wrapper-34 {
        margin: 0;
        --light-bg: rgb(0, 0, 0);
        --light-text: rgb(255, 255, 255);
        --dark-bg: rgb(255, 255, 255);
        --dark-text: rgb(0, 0, 0);
        --toggle-dot: rgb(82, 82, 82);
        .tgl {
            display: none;
        }
        .tgl, 
        .tgl:after,
        .tgl:before,
        .tgl *,
        .tgl *:after,
        .tgl *:before,
        .tgl + .tgl-btn {
            box-sizing: border-box;
            margin: 0 15px 0 0;
        }
        .tgl::selection,
        .tgl:after::selection,
        .tgl:before::selection,
        .tgl *::selection,
        .tgl *:after::selection,
        .tgl *:before::selection,
        .tgl + .tgl-btn::selection {
            background: none;
        }
    }
    .checkbox-wrapper-34 .tgl + .tgl-btn {
        outline: 0;
        display: block;
        width: 57px;
        height: 27px;
        position: relative;
        cursor: pointer;
        user-select: none;
        font-size: 12px;
        font-weight: 400;
    }
    .checkbox-wrapper-34 .tgl + .tgl-btn:after,
    .checkbox-wrapper-34 .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 44%;
        height: 100%;
    }
    .checkbox-wrapper-34 .tgl + .tgl-btn:after {
        left: 0;
    }
    .checkbox-wrapper-34 .tgl + .tgl-btn:before {
        display: inline;
        position: absolute;
        top: 7px;
    }
    .checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
        left: 56.5%;
    }
    
    .checkbox-wrapper-34 .tgl-ios + .tgl-btn {
        background: var(--dark-bg);
        border-radius: 20rem;
        padding: 2px;
        transition: all 0.4s ease;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 9px rgba(97, 97, 97, 0.5);
    }
    .checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
        border-radius: 2em;
        background: var(--toggle-dot);
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
        content: "Dark";
        left: 28px;
        color: var(--dark-text);
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        font-family: sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
    .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
        box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
    }
    .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
        padding-right: 0.4em;
    }
    .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
        background: var(--light-bg);
    }
    .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
        box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
    }
    .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
        margin-left: -0.4em;
    }
    .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
        content: "Light";
        left: 4px;
        color: var(--light-text);
        font-family: sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
}

.container .theme-box,
.container .change-username-box,
.container .change-password-box,
.container .deactivate-account-box {
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;
    box-shadow: 0 1px 8px var(--box-shadow);
}

.container div h2 {
    margin: 0 15px 0 20px;
    font-family: sans-serif;
    color: var(--label-text);
    font-weight: 600;
    font-size: 24px;
    width: 18%;
    min-width: 223px;
}

.change-username-box form,
.change-password-box form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82%;
}

form div {
    display: flex;
    align-items: center;
}

input {
    height: 32px;
}

input[type=submit] {
    width: 160px;
    margin: 0 15px 0 0;
    border: none;
    box-shadow: 0 0 7px var(--box-shadow);
    border-radius: 10px;
    background-color: var(--form-btn-bg);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: var(--form-btn-hover-bg);
}

input[type=text] {
    width: 250px;
    padding: 0 0 0 7px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 7px var(--box-shadow);
}
input[type=text]::placeholder {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 14px;
}
input[type=text]:focus {
    outline: none;
    border: 1px solid var(--navbar-text-hover);
    color: var(--navbar-text-hover);
}
input[type=text]:focus::placeholder {
    color: var(--navbar-text-hover);
}

input[type=password] {
    width: 250px;
    padding: 0 0 0 7px;
    margin: 0 15px 0 0;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 7px var(--box-shadow);
}

input[type=password]::placeholder {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 14px;
}

input[type=password]:focus {
    outline: none;
    border: 1px solid var(--navbar-text-hover);
}

input[type=password]:focus::placeholder {
    color: var(--navbar-text-hover);
}

.deactivate-account-box {
    justify-content: space-between;
}